
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    margin-top: 100px;
    font-family: "papyrus", fantasy;   
}
ul {
    padding: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}
ul li {
    border: 1px solid #6b4e6b;
    list-style: none;
    padding: 5px;
    background: #fff;
    box-shadow:
          /* The top layer shadow */
          0 1px 1px lavender,
          /* The second layer */
          0 10px 0 -5px rgb(131, 109, 131),
          /* The second layer shadow */
          0 10px 1px -4px lavender,
           /* The third layer */
          0 20px 0 -10px lavender,
          /* The third layer shadow */
          0 20px 1px -9px rgba(0,0,0,0.15);
          /* Padding for demo purposes */
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
li {
    list-style: none;
    padding: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
button {
    border: none;
    background-color: white;
    flex: content;
    justify-content: right;
}
h1 {
    text-align: center;
}
input {
    border: none; width: 200px;
}